.search-bar-block {
    height: 7vh;
    line-height: 7vh;
    background-color: #FFE270;
}

.search-bar-block input {
    border: none;
    outline: none;
    height: 4vh;
    width: 20vw;
    margin-left: 5vw;
}
