.search-bar-block {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FFE270;
}

.search-bar-block input {
    border: none;
    outline: none;
    height: 30px;
    width: 30vw;
    margin-left: 5vw;
}
