.nav-bar-wrapper {
    display: flex;
    flex-direction: row;
}
.nav-item-container {
    margin: 0 20px;
    padding: 10px 20px;
    cursor: pointer;
}

.nav-item-nearby-eats-clicked, .nav-item-hot-clicked, .nav-item-recommendation-clicked,
.nav-item-promo-clicked {
    text-shadow: 1px;
    color: #6f82a1;
}
